@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-beige-500: hsl(23 6% 57%);
  --color-beige-100: hsl(30 36% 96%);
  --color-grey-900: hsl(252 7% 13%);
  --color-grey-500: hsl(0 0% 41%);
  --color-grey-300: hsl(0 0% 70%);
  --color-grey-100: hsl(0 0% 95%);

  /* Secondary Colors */
  --color-green: hsl(177 52% 32%);
  --color-yellow: hsl(28 73% 81%);
  --color-cyan: hsl(190 52% 68%);
  --color-navy: hsl(248 8% 41%);
  --color-red: hsl(7 58% 50%);
  --color-purple: hsl(259 30% 56%);

  /* Other Colors */
  --color-purple-alt: hsl(288 29% 62%);
  --color-turquoise: hsl(180 16% 42%);
  --color-brown: hsl(21 30% 44%);
  --color-magenta: hsl(332 30% 44%);
  --color-blue: hsl(205 48% 47%);
  --color-navy-grey: hsl(214 11% 63%);
  --color-army-green: hsl(83 20% 47%);
  --color-gold: hsl(47 50% 59%);
  --color-orange: hsl(18 47% 52%);

  --color-blue-900: hsl(215 31% 21%);
  --color-blue-500: hsl(227 92% 58%);
  --color-blue-300: hsl(209 69% 82%);
  --color-blue-100: hsl(228 94% 94%);
  --color-grey-500: hsl(215 17% 45%);
  --color-grey-300: hsl(215 43% 77%);
  --color-gradient-1: hsl(183 95% 92%);
  --color-gradient-2: hsl(216 95% 92%);
  --color-success: hsl(160 67% 52%);
  --color-warning: hsl(34 100% 50%);
  --color-background: hsl(231 27% 98%);
  --color-foreground: hsl(228 29% 7%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(231 28% 7%);
  --color-01: hsl(252 94% 67%);
  --color-02: hsl(252 100% 73%);
  --color-03: hsl(233 31% 17%);
  --color-04: hsl(233 30% 21%);
  --color-05: hsl(231 73% 93%);
  --color-06: hsl(231 20% 61%);
  --color-06-base: hsl(231 20% 27%);
  --color-06-hover: hsl(231 28% 7%);
  --color-07: hsl(231 37% 63%);
  --color-07-base: hsl(231 67% 99%);
  --color-08: hsl(228 29% 7%);
  --color-09: hsl(0 80% 63%);
  --color-10: hsl(0 100% 80%);
  --color-11: hsl(240 27% 98%);
  --color-12: hsl(233 30% 11%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(231 28% 7%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --radius: 0.375rem;
  --color-sidebar-background: hsl(231 20% 27%);
  --color-sidebar-foreground: hsl(231 20% 36%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-foreground: hsl(0 0% 98%);
  --color-sidebar-accent: hsl(240 4.8% 95.9%);
  --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}
